
 <nav><a href="/intro">Create Post</a> <a class="right align" href="/users">User List</a></nav>
 <header><p><h1>You are signed in</h1> 


  <ul>
    <nav>  Welcome Back <%= @user.username %> we've missed you!.
      <div class="right-align">  <a href="/delete"><strong>Delete Profile</strong></a> </div> <br>
    </nav>
    <div class="container">
        <table id="target">
            <tr><%= @user.username %>,</tr><br>
            <tr><%= @user.firstname %></tr><br>
            <tr><%= @user.lastname %></tr><br>
            <tr><%= @user.birthday %></tr>
        </table>
        <hr>
    </div>
<div class="row">
    <div class="col s3">
        
    <header> <p> Your Post </p> </header>

  
     <% @intro.each do |intro| %>
        <div class="box">
          Title:
          <p> <%= intro.title %> <br> </p> 
          Content:
          <p><%=  intro.content %><br> </p>
          
    <% end %>

    <div class="col s3">

    </div>
    </div>
</div>
</ul>

